{% extends 'base.html.twig' %}

{% block title %}ArchiveCoursdevises{% endblock %}

{% block body %}
    <h1>ArchiveCoursdevises</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ archive_coursdevise.id }}</td>
            </tr>
            <tr>
                <th>DateArchivage</th>
                <td>{{ archive_coursdevise.dateArchivage ? archive_coursdevise.dateArchivage|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Valeurachat</th>
                <td>{{ archive_coursdevise.valeurachat }}</td>
            </tr>
            <tr>
                <th>Valeurvente</th>
                <td>{{ archive_coursdevise.valeurvente }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_archive_coursdevises_index') }}">back to list</a>

    <a href="{{ path('app_archive_coursdevises_edit', {'id': archive_coursdevise.id}) }}">edit</a>

    {{ include('archive_coursdevises/_delete_form.html.twig') }}
{% endblock %}
