{% extends 'admin1/base.html.twig' %}

{% block title %}Devises index
{% endblock %}
{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" href="https://cdn.datatables.net/1.11.3/css/dataTables.bootstrap5.min.css">
	<link rel="stylesheet" href="https://cdn.datatables.net/buttons/2.0.1/css/buttons.bootstrap5.min.css">
<style>
.delete-option {
    color: red;
}

.edit-option {
    color: green;
}

</style>
{% endblock %}

{% block body %}
<section id="features" class="features">

	<div class="col-xs-12">
		<h3 class="header smaller lighter blue">Liste des devises
		</h3>
		<div class="table-responsive">
			<table id="my-table" class="table table-striped table-bordered table-hover">
				<a href="{{ path('app_devises_new') }}" class="bleu">
					<i class="ace-icon fa fa-search-plus bigger-130"></i>
				</a>

				<div class="table-header">
					Résultats pour "Derniers enregistrés"
				</div>
				<thead>
					<tr>
						<th>Id</th>
						<th>Image</th>
						<th>Code</th>
						<th>Libellé</th>
						<th>Abréviation</th>
						<th>Unité</th>
						<th>actions</th>
					</tr>
				</thead>
				<tbody>
					{% for devise in devises %}
						<tr>
							<td>{{ devise.id }}</td>
							<td>
								<img src="/images/{{devise.image}}" alt="" width="40" heigth="40"/>
							</td>
							<td>
								<div class="editable-field" data-id="{{ devise.id }}" data-field="code" contenteditable="true">
									{{ devise.code }}
								</div>
							</td>
							<td>
								<div class="editable-field" data-id="{{ devise.id }}" data-field="libelle" contenteditable="true">
									{{ devise.libelle }}
								</div>
							</td>
							<td>
								<div class="editable-field" data-id="{{ devise.id }}" data-field="abreviation" contenteditable="true">
									{{ devise.abreviation}}
								</div>
							</td>
							<td>
								<div class="editable-field" data-id="{{ devise.id }}" data-field="unite" contenteditable="true">
									{{ devise.unite }}
								</div>
							</td>


		
		<td>
    <div class="hidden-sm hidden-xs action-buttons">
        <select onchange="if (this.value) window.location.href=this.value">
            <option value="" selected>Actions</option>
            <option value="{{ path('app_devises_show', {'id': devise.id}) }}" class="delete-option">Supprimer</option>
            <option value="{{ path('app_devises_edit', {'id': devise.id}) }}" class="edit-option">Modifier</option>
        </select>
    </div>
</td>


						</tr>
					{% else %}
						<tr>
							<td colspan="6">no records found</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>

	</div>
</section>
{%endblock%}

{% block javascripts %}
{{ parent() }}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.11.3/js/dataTables.bootstrap5.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.0.1/js/dataTables.buttons.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.0.1/js/buttons.bootstrap5.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.5/jszip.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.66/pdfmake.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.0.1/js/buttons.html5.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.0.1/js/buttons.print.min.js"></script>


{%endblock%}
