
{% block body %}

	<section id="features" class="features">

		<div class="col-xs-12">
			<h3 class="header smaller lighter blue">Liste des cours
			</h3>
			<div class="table-responsive">
				<table id="my-table" class="table table-striped table-bordered table-hover">
					<a href="{{ path('app_coursdevises_new') }}" class="bleu">
						<i class="ace-icon fa fa-search-plus bigger-130"></i>
					</a>

					<div class="table-header">
						Résultats pour "Derniers enregistrés"
					</div>
					<thead>
						<tr>
							<th>Devises</th>
							<th>Code devise</th>
							<th>Achat</th>
							<th>Vente</th>
                            <th>Marge</th>
                             <th>Taux de change</th>
							<th>Crée le:</th>
							<th>Actions</th>
						</tr>
					</thead>
					<tbody>
						{% for coursdevise in coursdevises %}
							<tr>
								<td>
									<img src="/images/{{ coursdevise.devises.image }}" alt="" width="40" heigth="40"/>
								</td>
								<td>{{ coursdevise.devises.code }}</td>
								<td>
									<div class="editable-field" data-id="{{ coursdevise.id }}" data-field="valeurachat" contenteditable="true">
										{{ coursdevise.valeurachat }}
									</div>
								</td>
								<td>
									<div class="editable-field" data-id="{{ coursdevise.id }}" data-field="valeurvente" contenteditable="true">
										{{ coursdevise.valeurvente }}
									</div>
								</td>
								<td>
									{{ coursdevise.getValeurvente() - coursdevise.getValeurachat() }}
								</td>
<td>      {{ coursdevise.getTauxDeChange() }}</td>

								<td>{{ coursdevise.createdat|date('Y-m-d H:i:s') }}</td>
								<td>
									<div class="hidden-sm hidden-xs action-buttons">
										<a href="{{ path('app_coursdevises_delete', {'id': coursdevise.id}) }}" class="red" title="Supprimer">
											<i class="ace-icon fa fa-trash-o bigger-130"></i>
										</a>
										<a href="{{ path('app_coursdevises_edit', {'id': coursdevise.id}) }}" class="green" title="Modifier">
											<i class="ace-icon fa fa-pencil bigger-130"></i>
										</a>
									</div>
								</td>
							</tr>
						{% else %}
							<tr>
								<td colspan="4">no records found</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	{% endblock %}

	{% block javascripts %}
	
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
	<script src="https://cdn.datatables.net/1.11.3/js/dataTables.bootstrap5.min.js"></script>
	<script src="https://cdn.datatables.net/buttons/2.0.1/js/dataTables.buttons.min.js"></script>
	<script src="https://cdn.datatables.net/buttons/2.0.1/js/buttons.bootstrap5.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.5/jszip.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.66/pdfmake.min.js"></script>
	<script src="https://cdn.datatables.net/buttons/2.0.1/js/buttons.html5.min.js"></script>
	<script src="https://cdn.datatables.net/buttons/2.0.1/js/buttons.print.min.js"></script>
	<script>
		$(document).ready(function () {
$('#my-table').DataTable({
"language": {
"url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/French.json"
},
"lengthMenu": [
[
10, 25, 50, -1
],
[
10, 25, 50, "Tout"
]
],
"pageLength": 25,
"order": [
[4, "desc"]
],
"dom": 'lBfrtip',

"buttons": [
{
extend: 'pdfHtml5',
className: 'btn btn-sm btn-danger',
text: '<i class="fa fa-file-pdf-o"></i> ',
title: 'Export PDF',
exportOptions: {
columns: ':visible'
}
},
{
extend: 'excelHtml5',
className: 'btn btn-sm btn-success',
text: '<i class="fa fa-file-excel-o"></i> ',
title: 'Export Excel',
exportOptions: {
columns: ':visible'
}
},

{
extend: 'csv',
className: 'btn btn-primary btn-sm',
text: '<i class="fa fa-database"></i> ',
title: 'Export CSV',
exportOptions: {
columns: ':visible'
}
},
{
extend: 'copy',
className: 'btn btn-sm btn-primary',
text: '<i class="fa fa-copy"></i> ',
title: 'Copy',
exportOptions: {
columns: ':visible'
}
}, {
extend: 'print',
className: 'btn btn-primary btn-sm',
text: '<i class="fa fa-print"></i> ',
title: 'Print',
exportOptions: {
columns: ':visible'
}

}, {
text: '<i class="fa fa-file-text"></i> ',
className: 'btn btn-primary btn-sm my-class',
titleAttr: 'Export TXT',
action: function (e, dt, node, config) {
var data = dt.buttons.exportData();
$.fn.dataTable.fileSave(new Blob([data.body.join("\n")]), 'table.txt');
}
}
],
"pagingType": "full_numbers" // Ajout de la pagination

});

$('button').mouseover(function () {
var title = $(this).attr('title');
$(this).attr('data-toggle', 'tooltip').attr('title', title).tooltip('show');
}).mouseout(function () {
$(this).attr('data-toggle', 'tooltip').attr('title', '').tooltip('hide');
});
});
	</script>
	<script>
		$(document).ready(function () {
$('.editable-field').on('blur', function () {
var id = $(this).data('id');
var field = $(this).data('field');
var value = $(this).text();
$.ajax({
url: '{{ path('app_coursdevises_update') }}',
method: 'POST',
data: {
id: id,
field: field,
value: value
}
});
});
});
	</script>

	{%endblock%}
